@charset "UTF-8";
/*---------------------------------

  base

---------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, p, a {
  font-family: Montserrat, "Noto Sans JP", "M PLUS 1p", sans-serif;
  color: #e9e9e9;
}

/*---------------------------------

  header

    1. loading-effects
    2. animation-setting
    3. deawer
        3.1 menu
        3.2 gnav
    4. header

---------------------------------*/
/*  
    1. loading-effects
---------------------------------*/
.loadingAnim {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loadingAnim:before,
.loadingAnim:after {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  line-height: 1;
  content: ' ';
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition-delay: .3s;
}

.loadingAnim:before {
  top: 0;
}

.loadingAnim:after {
  bottom: 0;
}

.loaded .loadingAnim:before {
  height: 0;
  -webkit-transform: translateY(-1%);
  -ms-transform: translateY(-1%);
  transform: translateY(-1%);
}

.loaded .loadingAnim:after {
  height: 0;
  -webkit-transform: translateY(1%);
  -ms-transform: translateY(1%);
  transform: translateY(1%);
}

.loadingAnim_line {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 160px;
  height: 1.25em;
  margin: auto;
  overflow: hidden;
  line-height: 1;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  transition-delay: .6s;
}

.loadingAnim_line:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 0;
  height: 100%;
  margin: auto  auto auto 0;
  background-color: #fff;
  content: ' ';
  -webkit-animation: loadingAnim 2s ease-in-out .1s infinite normal backwards;
  animation: loadingAnim 2s ease-in-out .1s infinite normal backwards;
  will-change: transform, width;
}

.loadingAnim_line:before {
  display: block;
  color: #fff;
  font-style: normal;
  font-weight: 100;
  font-size: 1.25em;
  line-height: 1;
  font-family: Montserrat, "Noto Sans JP", "M PLUS 1p", sans-serif;
  letter-spacing: .5em;
  content: 'LOADING';
  -webkit-animation: loadingAnim_text 1s ease .1s infinite alternate both;
  animation: loadingAnim_text 1s ease .1s infinite alternate both;
  will-change: opacity;
}

.loaded .loadingAnim_line {
  height: 0;
  overflow: hidden;
}

.loaded .loadingAnim_line:after,
.loaded .loadingAnim_line:before {
  -webkit-animation: none;
  animation: none;
}

.loaded .loadingAnim_line:before {
  content: 'LOADED!';
}

/*  
    2. animation-setting
---------------------------------*/
@-webkit-keyframes loadingAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
}

@keyframes loadingAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    -webkit-transform: translate(100%);
    transform: translate(100%);
  }
}

@-webkit-keyframes loadingAnim_text {
  0% {
    opacity: 1;
    color: color-green;
  }
  50% {
    color: #333;
  }
  100% {
    opacity: .5;
    color: #fff;
  }
}

@keyframes loadingAnim_text {
  0% {
    opacity: 1;
    color: color-green;
  }
  50% {
    color: #333;
  }
  100% {
    opacity: .5;
    color: #fff;
  }
}

/*    3. deawer
------------------------- */
/*    3.1 menu
------------------------- */
.menu {
  position: fixed;
  top: 1.46vw;
  right: 1.46vw;
  z-index: 99;
  width: 2.19vw;
  height: 1.46vw;
}

.menu__line {
  background: #fff;
  display: block;
  height: 2px;
  position: absolute;
  transition: transform .3s;
  width: 100%;
}

.menu__line--center {
  top: 0.65vw;
}

.menu__line--bottom {
  bottom: 0;
}

.menu__line--top.active {
  top: 1vw;
  transform: rotate(45deg);
}

.menu__line--center.active {
  transform: scaleX(0);
}

.menu__line--bottom.active {
  bottom: .3vw;
  transform: rotate(135deg);
}

/*    3.2 gnav
------------------------- */
.gnav {
  background: linear-gradient(to right, rgba(67, 198, 172, 0.8) 0%, rgba(61, 153, 190, 0.8) 31%, rgba(25, 22, 84, 0.8) 100%);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}

.gnav__wrap {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}

.gnav__menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 370.95px;
  text-align: center;
}

.gnav__menu__item {
  margin-top: 2.92vw;
  opacity: 0;
}

.gnav__menu__item:nth-of-type(1) {
  margin-top: 0;
}

.gnav__menu__item a {
  color: #fff;
  font-size: 4.39vw;
  font-weight: 100;
  text-decoration: none;
  transition: .5s;
}

.gnav__menu__item a:hover {
  color: #60CAAD;
}

/*    4. header
------------------------- */
.header {
  width: 100%;
  height: 100vh;
  background-color: #333;
}

.inner {
  width: 100%;
  max-width: 79.06vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0 3%;
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 3%;
}

.header__title {
  font-size: 10rem;
  font-weight: 100;
}

.header__link {
  position: absolute;
  top: 25%;
  right: 3%;
  transform: translatey(-50%);
}

.header__link a {
  font-size: 10rem;
  color: #60CAAD;
}

.header__link a {
  position: relative;
}

.header__link a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background-color: rgba(96, 202, 173, 0.3);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.header__link a:hover::after {
  -webkit-animation: circle .75s;
  animation: circle .75s;
}

@-webkit-keyframes circle {
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}

@keyframes circle {
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
  }
}

/*---------------------------------

    about 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  .gnav__menu {
    text-align: center;
  }
  .gnav__menu__item a {
    font-size: 14.39vw;
  }
  .menu {
    width: 3.19vw;
    height: 2.46vw;
  }
  .menu__line--center {
    top: 1vw;
  }
  .menu__line--bottom.active {
    bottom: 1vw;
  }
}

/*---------------------------------

  header 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  .menu {
    width: 4.19vw;
    height: 2.46vw;
  }
  .menu__line {
    height: 1px;
  }
  .header__link a {
    font-size: 6rem;
  }
  .header__title {
    font-size: 7rem;
    font-weight: 100;
  }
}

/*---------------------------------

  about

  1. about
    1.1 page__number
    1.2 about__inner
        1.2.1 about__content
        1.2.2 about__omg

---------------------------------*/
/*  
    1. about
---------------------------------*/
.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  position: relative;
}

/*  
    1.1 page__number
---------------------------------*/
.page__number {
  position: absolute;
  top: 2.19vw;
  left: 2.19vw;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.page__number__text {
  color: #e9e9e9;
  font-size: 7.32vw;
  font-weight: 100;
}

.page__number__text span {
  color: #60caad;
}

/*  
    1.2 about__inner
---------------------------------*/
.about__inner {
  width: 80%;
  height: 59.51vw;
  position: relative;
}

/*  
    1.2.1 about__content
---------------------------------*/
.about__content {
  width: 33.67vw;
  position: absolute;
  top: 5vw;
  right: 0;
  z-index: 1;
}

.about__content a {
  display: inline-block;
  margin-top: 1vw;
  -webkit-transition: .5s;
  transition: .5s;
}

.about__content a:nth-of-type(2) {
  margin-left: 1vw;
}

.about__content a:hover {
  color: #60CAAD;
}

.about__title {
  color: #60CAAD;
  font-size: 2.92vw;
  font-weight: 100;
}

.about__my-name {
  margin-top: 1vw;
  color: #e9e9e9;
  font-size: 1.92vw;
  font-weight: 100;
}

.about__text {
  margin-top: 1vw;
  color: #e9e9e9;
  font-size: 1.17vw;
  font-weight: 100;
  text-align: justify;
}

.fa-globe, .fa-twitter {
  font-size: 1.92vw;
}

/*  
    1.2.2 about__img
---------------------------------*/
.about__img {
  width: 18.66vw;
  height: 27vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about__img img {
  width: 100%;
  height: 100%;
}

/*---------------------------------

    about 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
        1.1 page__number
    ---------------------------------*/
  .page__number {
    position: absolute;
    top: 4rem;
    left: 2.19vw;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  .page__number__text {
    color: #e9e9e9;
    font-size: 12.32vw;
    font-weight: 100;
  }
  .page__number__text span {
    color: #60caad;
  }
  /*  
        1.2 about__inner
    ---------------------------------*/
  .about__inner {
    width: 80%;
    height: 70.51vw;
    position: relative;
  }
  /*  
        1.2.1 about__content
    ---------------------------------*/
  .about__content {
    width: 38.83vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .about__content a {
    display: inline-block;
    margin-top: 1vw;
    transition: .5s;
    -webkit-transition: .5s;
  }
  .about__content a:nth-of-type(2) {
    margin-left: 1vw;
  }
  .about__content a:hover {
    color: #60CAAD;
  }
  .about__title {
    font-size: 4.91vw;
  }
  .about__my-name {
    margin-top: 1vw;
    font-size: 3.41vw;
  }
  .about__text {
    margin-top: 1vw;
    font-size: 2.22vw;
    text-justify: justify;
  }
  .fa-globe, .fa-twitter {
    font-size: 2.7vw;
  }
  /*  
        1.2.2 about__img
    ---------------------------------*/
  .about__img {
    width: 58.72vw;
    height: 40.36vw;
    top: auto;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

/*---------------------------------

  about 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1.1 page__number
    ---------------------------------*/
  .page__number__text {
    font-size: 5.7rem;
  }
  /*  
        1.2 about__inner
    ---------------------------------*/
  .about__inner {
    height: auto;
  }
  /*  
        1.2.1 about__content
    ---------------------------------*/
  .about__content {
    padding-top: 15.84vh;
    position: static;
    width: 100%;
  }
  .about__title {
    font-size: 3.3rem;
  }
  .about__my-name {
    margin-top: 1vw;
    font-size: 2rem;
  }
  .about__text {
    margin-top: 1vw;
    font-size: 1rem;
  }
  .fa-globe, .fa-twitter {
    font-size: 4.7vw;
  }
  /*  
        1.2.2 about__img
    ---------------------------------*/
  .about__img {
    width: 100%;
    height: auto;
    position: static;
    margin-top: 4vh;
  }
}

/*---------------------------------

  service

  1. service
    1.1 page__number
    1.2 service__inner
        1.2.1 service__content
        1.2.2 service__omg

---------------------------------*/
/*  
    1. service
---------------------------------*/
.service {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  position: relative;
}

/*  
    1.1 page__number
---------------------------------*/
.page__number {
  position: absolute;
  top: 2.19vw;
  left: 2.19vw;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.page__number__text {
  color: #e9e9e9;
  font-size: 7.32vw;
  font-weight: 100;
}

.page__number__text span {
  color: #60caad;
}

/*  
    1.2 service__inner
---------------------------------*/
.service__inner {
  width: 80%;
  height: 59.51vw;
  position: relative;
}

/*  
    1.2.1 service__content
---------------------------------*/
.service__content {
  width: 33.67vw;
  position: absolute;
  top: 5vw;
  right: 0;
  z-index: 1;
}

.service__title {
  color: #60CAAD;
  font-size: 2.92vw;
  font-weight: 100;
}

.service__text--l {
  margin-top: 1vw;
  color: #e9e9e9;
  font-size: 1.92vw;
  font-weight: 100;
}

.service__text--l span {
  color: #60CAAD;
}

.service__text {
  margin-top: 1vw;
  color: #e9e9e9;
  font-size: 1.17vw;
  font-weight: 100;
}

/*  
    1.2.2 service__img
---------------------------------*/
.service__img {
  width: 38.79vw;
  height: 26.58vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service__img img {
  width: 100%;
  height: 100%;
}

/*---------------------------------

    service 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
        1.1 page__number
    ---------------------------------*/
  .page__number {
    position: absolute;
    top: 4rem;
    left: 2.19vw;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  .page__number__text {
    color: #e9e9e9;
    font-size: 12.32vw;
    font-weight: 100;
  }
  .page__number__text span {
    color: #60caad;
  }
  /*  
        1.2 service__inner
    ---------------------------------*/
  .service__inner {
    width: 80%;
    height: 60.51vw;
    position: relative;
  }
  /*  
        1.2.1 service__content
    ---------------------------------*/
  .service__content {
    width: 31.83vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .service__content a {
    display: inline-block;
    margin-top: 1vw;
    transition: .5s;
    -webkit-transition: .5s;
  }
  .service__content a:nth-of-type(2) {
    margin-left: 1vw;
  }
  .service__content a:hover {
    color: #60CAAD;
  }
  .service__title {
    color: #60CAAD;
    font-size: 4.91vw;
    font-weight: 100;
  }
  .service__my-name {
    margin-top: 1vw;
    color: #e9e9e9;
    font-size: 3.41vw;
    font-weight: 100;
  }
  .service__text {
    margin-top: 1vw;
    color: #e9e9e9;
    font-size: 2.22vw;
    font-weight: 100;
    text-justify: justify;
  }
  .fa-globe, .fa-twitter {
    font-size: 2.7vw;
  }
  /*  
        1.2.2 service__img
    ---------------------------------*/
  .service__img {
    width: 58.72vw;
    height: 40.36vw;
    top: auto;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

/*---------------------------------

  service 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1.1 page__number
    ---------------------------------*/
  .page__number__text {
    font-size: 5.7rem;
  }
  /*  
        1.2 service__inner
    ---------------------------------*/
  .service__inner {
    height: auto;
  }
  /*  
        1.2.1 service__content
    ---------------------------------*/
  .service__content {
    padding-top: 15.84vh;
    position: static;
    width: 100%;
  }
  .service__title {
    font-size: 3.3rem;
  }
  .service__my-name {
    margin-top: 1vw;
    font-size: 2rem;
  }
  .service__text--l {
    font-size: 3.92vw;
  }
  .service__text {
    margin-top: 1vw;
    font-size: 1rem;
  }
  .fa-globe, .fa-twitter {
    font-size: 4.7vw;
  }
  /*  
        1.2.2 service__img
    ---------------------------------*/
  .service__img {
    width: 100%;
    height: auto;
    position: static;
    margin-top: 4vh;
  }
}

/*---------------------------------

  flow

  1. flow
    1.1 page__number
    1.2 page__inner--flow
        1.2.1 section__title--flow
        1.2.2 flow__content

---------------------------------*/
/*  
    1. flow
---------------------------------*/
.flow {
  background-color: #333;
  height: 100vh;
  position: relative;
}

/*  
    1.1 page__number
---------------------------------*/
.page__number {
  position: absolute;
  top: 2.19vw;
  left: 2.19vw;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.page__number__text {
  color: #e9e9e9;
  font-size: 7.32vw;
  font-weight: 100;
}

.page__number__text span {
  color: #60caad;
}

/*  
    1.2 page__inner--flow
---------------------------------*/
.page__inner--flow {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 79.06vw;
}

/*  
    1.2.1 section__title--flow
---------------------------------*/
.section__title--flow {
  color: #60CAAD;
  font-size: 2.92vw;
  font-weight: 100;
}

/*  
    1.2.2 flow__content
---------------------------------*/
.flow__content {
  margin-top: 1vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.49vw, 1fr));
  gap: 3rem;
}

.flow__item {
  border: 1px solid #9DA5A0;
  padding: 1.46vw;
}

.flow__item__icon {
  color: #60CAAD;
  font-size: 3.22vw;
}

.flow__item__title {
  font-size: 1.31vw;
  margin-top: 1vw;
  color: #e9e9e9;
}

.flow__item__text {
  font-size: 1.17vw;
  margin-top: 1vw;
  color: #9DA5A0;
  text-align: left;
}

/*---------------------------------

    flow 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
        1. flow
    ---------------------------------*/
  .flow {
    height: 100%;
  }
  /*  
        1.1 page__number
    ---------------------------------*/
  .page__number {
    position: absolute;
    top: 4rem;
    left: 2.19vw;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  .page__number__text {
    color: #e9e9e9;
    font-size: 12.32vw;
    font-weight: 100;
  }
  .page__number__text span {
    color: #60caad;
  }
  /*  
        1.2 page__inner--flow
    ---------------------------------*/
  .page__inner--flow {
    max-width: 67.06vw;
    position: static;
    transform: translate(0, 0);
    margin: 0 10vw 0 auto;
  }
  /*  
        1.2.1 section__title--flow
    ---------------------------------*/
  .section__title--flow {
    padding-top: 4rem;
    font-size: 4.92vw;
  }
  /*  
        1.2.2 flow__content
    ---------------------------------*/
  .flow__content {
    margin-top: 5vw;
  }
  .flow__item {
    height: 34vw;
  }
  .flow__item__icon {
    font-size: 4.22vw;
  }
  .flow__item__title {
    font-size: 2.31vw;
  }
  .flow__item__text {
    font-size: 1.9vw;
    text-align: justify;
  }
}

/*---------------------------------

  flow 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1.2 page__inner--flow
    ---------------------------------*/
  .page__inner--flow {
    margin: 0 auto;
  }
  /*  
        1.2.1 section__title--flow
    ---------------------------------*/
  .section__title--flow {
    font-size: 33px;
  }
  /*  
        1.2.2 flow__content
    ---------------------------------*/
  .flow__content {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .flow__item {
    height: 100%;
    padding: 2.46vw 6vw 4vw;
  }
  .flow__item__icon {
    font-size: 5.22vw;
  }
}

/*---------------------------------

  work

  1. work
    1.1 section__number
    1.2 section__inner--work
        1.2.1 section__title__work
        1.2.2 section__content__work

---------------------------------*/
/*  
    1. work
---------------------------------*/
.work {
  background-color: #333;
  height: 100vh;
  position: relative;
}

/*  
    1.1 section__number
---------------------------------*/
.section__number {
  position: absolute;
  top: 2.19vw;
  left: 2.19vw;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.section__number__text {
  color: #e9e9e9;
  font-size: 7.32vw;
  font-weight: 100;
}

.section__number__text span {
  color: #60caad;
}

/*  
    1.2 section__inner__work
---------------------------------*/
.section__inner__work {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 79.06vw;
}

/*  
1.2.1 section__title__work
---------------------------------*/
.section__title__work {
  color: #60CAAD;
  font-size: 2.92vw;
  font-weight: 100;
}

.section__title__lead {
  margin-top: 1.5rem;
  font-size: 1.17vw;
}

/*  
    1.2.2 section__content__work
---------------------------------*/
.section__content__work {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.49vw, 1fr));
  gap: 2vw;
}

.section__item__work {
  position: relative;
  overflow: hidden;
  height: 20.1vw;
}

.section__item__work img {
  width: 100%;
}

.section__item__caption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: .3s;
  opacity: 0;
  padding-top: 8rem;
}

.section__item__caption h3, .section__item__caption p {
  font-weight: 100;
}

.section__item__work:hover .section__item__caption {
  opacity: 1;
}

/*---------------------------------

    flow 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
        1. work
    ---------------------------------*/
  .work {
    height: 100%;
    padding-bottom: 3rem;
  }
  /*  
        1.1 section__number
    ---------------------------------*/
  .section__number {
    position: absolute;
    top: 4rem;
    left: 2.19vw;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
  .section__number__text {
    color: #e9e9e9;
    font-size: 12.32vw;
    font-weight: 100;
  }
  .section__number__text span {
    color: #60caad;
  }
  /*  
        1.2 section__inner__work
    ---------------------------------*/
  .section__inner__work {
    max-width: 65.06vw;
    position: static;
    transform: translate(0);
    margin: 0 10vw 0 auto;
  }
  /*  
        1.2 section__inner__work
    ---------------------------------*/
  .section__title__lead {
    margin-top: .5rem;
  }
  .section__item__work {
    height: 34vw;
  }
  .section__content__work {
    margin-top: 3vw;
    gap: 3vw;
  }
  /*  
        1.2.1 section__title__work
    ---------------------------------*/
  .section__title__work {
    font-size: 4.92vw;
    padding-top: 8rem;
  }
}

/*---------------------------------

  work 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1.2 section__inner__work
    ---------------------------------*/
  .section__inner__work {
    margin: 0 auto;
  }
  /*  
        1.2.1 section__title__work
    ---------------------------------*/
  .section__title__work {
    padding-top: 4rem;
    font-size: 33px;
  }
  /*  
        1.2.2 section__content__work
    ---------------------------------*/
  .section__content__work {
    margin-top: 6vw;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 6vw;
  }
}

/*---------------------------------

  contact

  1. contact
    1.1 section__number
    1.2 section__inner__contact
        1.2.1 contact-form

---------------------------------*/
/*  
    1. contact
---------------------------------*/
.contact {
  background-color: #333;
  padding-top: 5vw;
  height: 100vh;
  position: relative;
}

/*  
    1.2 section__inner__contact
---------------------------------*/
.section__inner__contact {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__inner__contact p {
  margin-top: 1.5rem;
  font-size: 1.17vw;
}

.section__title__contact {
  color: #60CAAD;
  font-size: 2.92vw;
  font-weight: 100;
}

/*  
    1..1.1 contact-form
---------------------------------*/
.contact-form {
  width: 100%;
  margin: 50px auto 0;
}

.contact-form input[type=text] {
  display: inline-block;
  width: 39.31vw;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.contact-form input[type=text]:last-child {
  margin-left: 0.5%;
}

.contact-form textarea {
  display: block;
  width: 39.31vw;
  height: 150px;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  margin: 0 auto;
}

.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(96, 202, 173, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: rgba(96, 202, 173, 0.05);
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(96, 202, 173, 0.5) inset;
}

/*---------------------------------

    contact 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
        1..1.1 contact-form
    ---------------------------------*/
  .contact-form input[type=text] {
    width: 100%;
  }
  .contact-form textarea {
    width: 100%;
  }
}

/*---------------------------------

  contact 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1. contact
    ---------------------------------*/
  .contact {
    padding-top: 0;
    height: 100%;
  }
  /*  
        1.2 section__inner__contact
    ---------------------------------*/
  .section__inner__contact {
    text-align: center;
    margin: 0 auto;
    position: static;
    transform: translate(0);
  }
  .section__title__contact {
    font-size: 3.3rem;
    padding-top: 4rem;
  }
  /*  
        1..1.1 contact-form
    ---------------------------------*/
  .contact-form {
    padding: 0 3rem;
  }
  .contact-form input[type=submit] {
    width: 100%;
  }
}

.footer {
  background-color: #333;
  padding: 70px 0;
}

.footer__inner {
  height: 80px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.footer__inner p {
  margin-top: 10px;
  font-size: 18px;
}

.footer__sns a {
  display: inline-block;
  margin-top: 2rem;
  margin-right: 1.2rem;
  padding: 0.6rem;
  border: 2px solid #e9e9e9;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__sns a:hover {
  color: #60CAAD;
}

/*---------------------------------

  footer 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  .footer {
    padding: 0 0 1.4rem;
  }
}
